* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 55px;
  box-shadow: 0px 0px 0px 1px #ffffff0f, 0px 0px 0px 10px #13141f,
    0px 0px 0px 11px #ffffff0a, 0px 60px 120px 0px #000000e5;
  background: #0a0b14;
  padding-top: 114px;
  padding-bottom: 10px;
  width: 393px;
  height: 852px;
  overflow: hidden;

  .autoWrapper {
    position: relative;
    width: 393px;
    height: 618px;

    .container {
      display: flex;
      position: absolute;
      top: -55px;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 24px;
      width: 393px;
      height: 61px;

      .musicDnaAnalysis {
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
        line-height: 16px;
        letter-spacing: 2.4px;
        color: #ffffff4d;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: 600;
        text-transform: UPPERCASE;
      }

      .text {
        flex-shrink: 0;
        padding: 4px 0px 0px;
        width: 393px;
        height: 21px;
        text-align: center;
        line-height: 17px;
        letter-spacing: 1.8px;
        color: #ffffff38;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 11px;
      }
    }

    .container3 {
      display: flex;
      position: absolute;
      top: -234px;
      right: -7px;
      flex-direction: column;
      align-items: flex-start;
      padding: 117px 7px 103px 80px;
      width: 480px;
      height: 420px;
      filter: blur(65px);

      .component2 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        min-width: 393px;
        height: 59px;

        .leftSide {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 134px;
          height: 59px;

          .aTime {
            flex-shrink: 0;
            width: 54px;
            height: 20px;
            text-align: center;
            line-height: 22px;
            letter-spacing: -0.41px;
            color: var(--White, #ffffff);
            font-family: "SF Pro Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 17px;
            font-weight: 600;
          }
        }

        .container2 {
          display: flex;
          align-items: center;
          padding-top: 11px;
          padding-bottom: 11px;

          .component {
            border-radius: 20px;
            background: #000000;
            width: 125px;
            height: 37px;
          }
        }

        .signalWifiBattery {
          display: flex;
          align-items: center;
          padding: 23px 28px;

          .icon {
            width: 78px;
            height: 13px;
            overflow: hidden;
          }
        }
      }

      .icon2 {
        margin-top: 119px;
        margin-left: 18px;
        width: 18px;
        height: 22px;
        overflow: hidden;
      }
    }

    .container4 {
      position: absolute;
      top: 86px;
      right: -4px;
      width: 400px;
      height: 400px;
      filter: blur(40px);
    }

    .container5 {
      position: absolute;
      right: -40px;
      bottom: -120px;
      width: 260px;
      height: 240px;
      filter: blur(35px);

      .icon3 {
        position: absolute;
        top: 7px;
        left: 167px;
        width: 12px;
        height: 15px;
        overflow: hidden;
      }
    }

    .container8 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 393px;
      height: 618px;

      .icon4 {
        position: absolute;
        top: 530px;
        left: 24px;
        flex-shrink: 0;
        width: 14px;
        height: 18px;
        overflow: hidden;
      }

      .icon5 {
        position: absolute;
        top: 83px;
        left: 340px;
        flex-shrink: 0;
        z-index: 1;
        width: 13px;
        height: 16px;
        overflow: hidden;
      }

      .container7 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        z-index: 2;
        margin-right: 119px;
        margin-left: 119px;

        .container6 {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: -1px;
          border: 1px solid #4dd9d0;
          border-radius: 24px;
          box-shadow: 0px 0px 28px 0px #4dd9d066;
          background: #4dd9d01f;
          width: 72px;
          height: 72px;

          .doneState {
            flex-shrink: 0;
            width: 32px;
            height: 26px;
            overflow: hidden;
          }
        }

        .doneState2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 16px;

          .text2 {
            flex-shrink: 0;
            align-self: stretch;
            text-align: center;
            line-height: 30px;
            letter-spacing: -0.4px;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 700;
          }

          .text3 {
            flex-shrink: 0;
            padding: 6px 0px 0px;
            width: 156px;
            height: 26px;
            text-align: center;
            line-height: 20px;
            letter-spacing: 0;
            color: #ffffff66;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
          }
        }
      }
    }
  }

  .icon6 {
    margin-top: 8px;
    margin-left: 55px;
    width: 11px;
    height: 14px;
    overflow: hidden;
  }

  .container9 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    margin-top: 35px;
    width: 393px;

    .icon7 {
      flex-shrink: 0;
      width: 12px;
      height: 13px;
      overflow: hidden;
    }

    .text5 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      padding-bottom: 1px;
      width: 173px;
      height: 17px;

      .text4 {
        margin: -2px 0px 0px;
        line-height: 17px;
        letter-spacing: 0;
        color: #ffffff33;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }
  }

  .container10 {
    margin-top: 31px;
    margin-left: 130px;
    border-radius: 3px;
    background: #ffffff38;
    width: 134px;
    height: 5px;
  }
}
