* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 393px;
  height: 53px;

  .aStatusBarTime {
    display: flex;
    align-items: center;
    padding: 17px 40px 16px;

    .aTime {
      width: 54px;
      height: 20px;
      text-align: center;
      line-height: 22px;
      letter-spacing: -0.41px;
      color: var(--White, #ffffff);
      font-family: "SF Pro Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 17px;
      font-weight: 600;
    }
  }

  .signalWifiBattery {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 134px;

    .iconMobileSignal {
      flex-shrink: 0;
      width: 18px;
      height: 12px;
    }

    .wifi {
      flex-shrink: 0;
      width: 17px;
      height: 12px;
    }

    .aStatusBarBattery {
      flex-shrink: 0;
      width: 27px;
      height: 13px;
    }
  }
}
