* {
  box-sizing: border-box;
}

.textInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid #6af1f4cc;
  border-radius: 20px;
  box-shadow: inset 0px 0px 2px 0px #ffffff66, inset 0px 1px 1px 0px #ffffff80,
    inset 0px 4px 10px 0px #ffffff1a, inset 0px 15px 20px 0px #ffffff26,
    0px 0px 10px 0px #6af1f480;
  background: #ffffff33;
  padding: 14px 18px;
  width: 307px;
  height: 50px;
  overflow: hidden;
  backdrop-filter: blur(13px);

  .text {
    flex-shrink: 0;
    align-self: stretch;
    letter-spacing: 0;
    color: #ffffff59;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}
