* {
  box-sizing: border-box;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0.57;
  width: 20px;
  height: 20px;
  rotate: 14deg;

  .note {
    margin: -1px 0px 0px -1px;
    line-height: 20px;
    letter-spacing: 0;
    color: #ff4f8b;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .note2 {
    margin: 130px 0px 0px 369px;
    line-height: 13px;
    letter-spacing: 0;
    color: #ff4f8b;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  .note3 {
    margin: 46px 0px 0px 50px;
    line-height: 14px;
    letter-spacing: 0;
    color: #3bb3ff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    rotate: -16deg;
  }

  .note4 {
    margin: 159px 0px 0px 421px;
    line-height: 11px;
    letter-spacing: 0;
    color: #3bb3ff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 11px;
    rotate: -28deg;
  }

  .note5 {
    margin: 46px 0px 0px 112px;
    line-height: 11px;
    letter-spacing: 0;
    color: #ff4f8b;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 11px;
    rotate: -3deg;
  }
}
