* {
  box-sizing: border-box;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 9px;
  border: 1px solid #ffffff0f;
  border-radius: 24px;
  background: #ffffff0f;
  padding: 17px 23px;
  width: 345px;
  height: 62px;

  .text {
    flex-shrink: 0;
    padding: 0px 10px;
    width: 92px;
    text-align: center;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #ffffff33;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .icon {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    overflow: hidden;
  }
}
