* {
  box-sizing: border-box;
}

.container8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 22px;
  padding-left: 22px;
  width: 393px;
  height: 520px;

  .button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 349px;
    overflow: hidden;

    .icon {
      flex-shrink: 0;
      width: 21px;
      height: 21px;
    }
  }

  .progressBar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    padding-top: 28px;

    .container {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;

      .text {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding-right: 2px;
        height: 17px;

        .questionnaire {
          line-height: 17px;
          letter-spacing: 1.8px;
          color: #ffffff59;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 11px;
          text-transform: UPPERCASE;
        }
      }

      .text5 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        width: 56px;

        .text4 {
          line-height: 18px;
          letter-spacing: 0.2px;
          color: #000000;
          font-size: 12px;

          .text2 {
            line-height: 18px;
            letter-spacing: 0.2px;
            color: #ffffff61;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }

          .text3 {
            line-height: 18px;
            letter-spacing: 0.2px;
            color: #4dd9d0;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
    }

    .containerMargin {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-top: 10px;

      .container3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        border-radius: 3px;
        background: #ffffff12;
        width: 349px;
        overflow: hidden;

        .container2 {
          flex-shrink: 0;
          border-radius: 3px;
          box-shadow: 0px 0px 8px 0px #4dd9d099;
          width: 70px;
          height: 3px;
          background-image: linear-gradient(90deg, #4dd9d0 0%, #2ec4b6 100%);
        }
      }
    }
  }

  .container7 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    padding-top: 28px;
    height: 428px;
    overflow: hidden;

    .container6 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border: 1px solid #ffffff14;
      border-radius: 32px;
      box-shadow: inset 0px 0px 10px 0px #6af1f480, 0px 0px 2px 0px #ffffffb2,
        0px 1px 1px 0px #ffffff80;
      background: #ffffff0b;
      padding: 25px 19px 23px;
      height: 396px;
      overflow: hidden;
      backdrop-filter: blur(13px);

      .inlineContent {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        padding: 2px 258px 16px 0px;

        .container5 {
          display: inline-flex;
          align-items: center;
          column-gap: 5px;
          border: 1px solid #4dd9d038;
          border-radius: 20px;
          background: #4dd9d01a;
          padding: 3px 10px;

          .container4 {
            flex-shrink: 0;
            border-radius: 3px;
            background: #4dd9d0;
            width: 6px;
            height: 6px;
          }

          .text6 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 14px;
            height: 17px;

            .q1 {
              line-height: 17px;
              letter-spacing: 0.5px;
              color: #4dd9d0;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 11px;
              font-weight: 600;
            }
          }
        }
      }

      .text7 {
        flex-shrink: 0;
        width: 307px;
        line-height: 28px;
        letter-spacing: -0.5px;
        color: #ffffff;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: 700;
      }

      .text8 {
        flex-shrink: 0;
        padding: 6px 0px 0px;
        width: 307px;
        height: 26px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #ffffff59;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
      }

      .chipOptions {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        padding-top: 22px;
        padding-right: 44px;

        .text9 {
          line-height: 20px;
          letter-spacing: -0.1px;
          color: #ffffffa6;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }

        .button3 {
          display: flex;
          align-items: center;
          border: 1px solid #ffffff1a;
          border-radius: 50px;
          background: #ffffff0a;
          padding: 10px 16px 9px;
        }

        .autoWrapper {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 2px;
          padding-left: 0;

          .button2 {
            display: flex;
            align-items: center;
            border: 1px solid #ffffff1a;
            border-radius: 50px;
            background: #ffffff0a;
            padding: 10px 15px 9px 16px;
          }
        }

        .autoWrapper2 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 9px;
          padding-right: 0;
          padding-left: 0;
        }

        .autoWrapper3 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 9px;
          padding-right: 18px;
          padding-left: 0;
        }

        .button4 {
          display: flex;
          align-items: center;
          align-self: stretch;
          margin-top: 9px;
          margin-right: 168px;
          border: 1px solid #ffffff1a;
          border-radius: 50px;
          background: #ffffff0a;
          padding: 10px 15px 9px 16px;
        }
      }
    }
  }
}
